extends pug/base

block header
    h3 Some Header
    #framerate

block content

    #arena
        #enemy
            +b.hero
                +e.skillet
                    +e.head
                    +e.body
                    +e.arm_left
                        +e.hand_left
                    +e.arm_right
                        +e.hand_right
                    +e.leg_left
                    +e.leg_right
        #player
            +b.hero
                +e.skillet
                    +e.head
                    +e.body
                    +e.arm_left
                        +e.hand_left
                    +e.arm_right
                        +e.hand_right
                    +e.leg_left
                    +e.leg_right
                +b.ui
                    +e.element_move-left(
                            data-action="move",
                            data-direction="-1"
                            data-icon="left"
                        )
                    +e.element_move-right(
                            data-action="move",
                            data-direction="1"
                            data-icon="right"
                        )
                    +e.element_jump(
                            data-action="jump",
                            data-icon="up"
                        )
                    +e.element_hit(
                            data-action="hit",
                            data-icon="hit"
                        )


block footer
    h3 Some Footer
